@import "tailwindcss";

@font-face {
  font-family: Poiret;
  src: url("../src/assets/fonts/Poiret_One/PoiretOne-Regular.ttf");
}
@font-face {
  font-family: Inter;
  src: url("../src/assets/fonts/Inter/Inter-VariableFont_opsz\,wght.ttf");
}
@font-face {
  font-family: Agrandir-reg;
  src: url("../src/assets/fonts/Agrandir/Agrandir-Regular.otf");
}
@font-face {
  font-family: Agrandir-widelight;
  src: url("../src/assets/fonts/Agrandir/Agrandir-GrandLight.otf");
}

html {
  scroll-behavior: smooth;
}

@theme {
  --color-primary: #6d5f4f;
  --color-secondary: #23273a;
  --color-bgColor: #e2dbd3;
  --color-bg: #f9f9fb;
  --font-primary: Inter, serif;
  --font-poiret: Poiret, serif;
  --font-agrandir: Agrandir-reg, serif;
  --font-agrandir-widelight: Agrandir-widelight, serif;
}
